* {
	margin: 0;
	padding: 0;
} 

.header-inner {
	padding: 80px 0 14px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	list-style: none;
}
.carousel {
	width: 800px;
	margin: 0 auto;
}

.slick-dots li button {
	width: 30px;
	height: 30px;
}

/*Burger menu*/
.burger-icon {
	width: 48px;
	height: 31px;
	border: none;
	background: none;
	position: absolute;
	left: 0;
	top: 70px;
	outline: none;
}

.burger-icon-item {
	width: 48px;
	height: 5px;
	background: #000;
	position: relative;
	cursor: pointer;
}

.burger-icon-item:before {
	content: "";
	display: block;
	width: 48px;
	height: 5px;
	background: #000;
	position: absolute;
	top: -13px;
	left: 0;
}

.burger-icon-item:after {
	content: "";
	display: block;
	width: 48px;
	height: 5px;
	background: #000;
	position: absolute;
	bottom: -13px;
	left: 0;
}

@media screen and (max-width 1024px) {
	flex-direction: column;
}